footer
  .container.text-center
    p.float-left 
      a(href="http://www.miitbeian.gov.cn/") 苏ICP备19011156号
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/hailongzz?tab=repositories') GitHub Project
      li.list-inline-item
        a(href='https://github.com/hailongzz?tab=repositories') Issues
