extends layout

block content
  div.main-header
    //- div.vertical
      div.main-header-content.inner
        h1.page-title lonecloud
        h2.page-description 梦觉春衾，江南依旧远。
        h3.page-author 《清商怨·庭花香信尚浅》 - 宋代 - 晏几道
    //- a.scroll-down
    //-   span.hidden
    //-     i.scroll-down-icon.iconfont.icon-iconfontarrows1    
  canvas#homeTopCanvas 您的浏览器不支持canvas 
  h1 Bamboo'sBlog
  p.lead 明月别枝惊鹊，清风半夜鸣蝉。稻花香里说丰年，听取蛙声一片.
  hr
  .row
    .col-md-6
      h2 文档
        i.iconfont.icon-24.icon-nav
      p Technical road
      p
        a.btn.btn-raised(href='/core', role='button') View details »
    .col-md-6
      h2 聊天 
        i.iconfont.icon-liaotian.icon-nav
      p 想和好朋友在线聊天？快来试试吧
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 游戏
        i.iconfont.icon-youxi.icon-nav
      p 小游戏，闲暇时的小娱乐
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 画图
        i.iconfont.icon-huahua.icon-nav
      p 制作一张自己喜欢的diy，你的专属画板
      p
        a.btn.btn-raised(href='#', role='button') View details »      