extends layout

block content
  div.main-header
  h1 Bamboo'sBlog
  p.lead 明月别枝惊鹊，清风半夜鸣蝉。稻花香里说丰年，听取蛙声一片.
  hr
  .row
    .col-md-6.main-Title
      h2 Road
        i.iconfont.icon-24.icon-nav
      p Technical road 和我的爱好
      p
        a.btn.btn-raised(href='/document', role='button') View details »
    .col-md-6.main-Title
      h2 聊天 
        i.iconfont.icon-liaotian.icon-nav
      p 想和好朋友在线聊天？快来试试吧
      p
        a.btn.btn-raised(href='/chat', role='button') View details »
    .col-md-6.main-Title
      h2 游戏
        i.iconfont.icon-youxi.icon-nav
      p 小游戏，闲暇时的小娱乐
      p
        a.btn.btn-raised(href='/game', role='button') View details »
    .col-md-6.main-Title
      h2 画图
        i.iconfont.icon-huahua.icon-nav
      p 制作一张自己喜欢的diy，你的专属画板
      p
        a.btn.btn-raised(href='/draw', role='button') View details »
    .col-md-6.main-Title
      h2 留言板
        i.iconfont.icon-huahua.icon-nav
      p 随便说点什么吧！
      p  
        a.btn.btn-raised(href='#', role='button') View details »
  div#aplayer(style="position: fixed")
                