@import "themes/default/variables";

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@ladjs/bootstrap-social/bootstrap-social.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";

@import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 80px;
  margin-bottom: 75px;
  font-size: 14px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  min-height: 30px;
  margin: -15px 15px -15px;
}

.navbar{
  opacity: .8;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  display: block;
}

.navbar-brand{
  font-size: 18px;
  float: left;
}

.navbar-toggler {
  position: relative;
  float: right;
  margin-bottom: 8px;
  margin-top: 8px;
}

.navbar-toggler-icon {
  font-size: 16px;
}

.dropdown-menu {
  left: initial;
  right: 0;
}

/*
* Solves Bootstrap 4 issue
* https://github.com/twbs/bootstrap/issues/25654
*/
/* Styles in sm disposition and up */
@media (min-width: 576px) and (max-width: 767px) {
  /* Solves bs4 bug */
  .navbar-expand-md > .container,
  .navbar-expand-lg > .container,
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

/* Styles in md disposition and up */
@media (min-width: 768px) and (max-width: 991px) {
  /* Solves bs4 bug */
  .navbar-expand-lg > .container,
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

/* Styles in lg disposition and up */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Solves bs4 bug */
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------
.fa {
  margin-right: 6px;
}

.fab {
  margin-right: 6px;
}

.fas {
  margin-right: 6px;
}

.far {
  margin-right: 6px;
}

// Basic Snapchat Button CSS
.btn-snapchat {
  background-color: #fffc00;
  color: #000 !important;

  &:hover, &:active {
    background-color: #f1ef00;
  }
}
.icon-nav{
  font-size: 2rem;
}
.icon-liaotian{
  color:#1296db
}
.icon-youxi{
 color: #FE8C13
}
.icon-huahua{
 color: #B08FEF
}
.icon-zhuzi{
  color:#1296db
}
.page-description {
  margin: 0;
  font-size: 2rem;
  line-height: 1.5em;
  font-weight: 400;
  letter-spacing: .01rem;
  font-family: "Merriweather","Open Sans","Microsoft Jhenghei","Microsoft Yahei",sans-seri;
  color: rgba(255,255,255,0.8);
  -webkit-animation: fade-in-down .9s;
  animation: fade-in-down .9s both;
  -webkit-animation-delay: .1s;
  animation-delay: .3s;
  text-shadow: 0 3px 6px rgba(0,0,0,0.5);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
}
.main-header {
  display: table;
  width: 100%;
  height: 100%;
  z-index: -1;
  height: 100vh;
  max-height: 100vh;
  text-align: center;
  background:url(../img/home_top_bg.jpg) center center / cover no-repeat rgb(34, 34, 34);
  background-size: cover;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 1px 2px rgba(150,150,150,.7);
}
.vertical {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.inner {
  position: relative;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}
.page-title, .sb-title {
  margin: 10px 0 10px 0;
  letter-spacing: -1px;
  font-weight: 700;
  font-family: "Open Sans",sans-serif;
  color: #fff;
  -webkit-animation: fade-in-down 1s;
  animation: fade-in-down 1s both;
  -webkit-animation-delay: .6s;
  animation-delay: .5s;
  text-shadow: 0 3px 6px rgba(0,0,0,0.3);
}
.page-author {
  margin: 0;
  font-size: 1.4rem!important;
  line-height: 1.3em;
  font-weight: 400;
  letter-spacing: .01rem;
  font-family: "Merriweather","Open Sans","Microsoft Jhenghei","Microsoft Yahei",sans-seri;
  color: rgba(255,255,255,0.8);
  -webkit-animation: fade-in-down .9s;
  animation: fade-in-down .9s both;
  -webkit-animation-delay: .1s;
  animation-delay: .3s;
  text-shadow: 0 3px 6px rgba(0,0,0,0.5);
  display: none;
}
#homeTopCanvas{
  position: absolute;
  margin: auto;width: 100%;
  height: 100%;top: 0;
  bottom: 0;left: 0;right: 0;
}
.aplayer{
  width: 60%;
  position: fixed;
  bottom:3rem;
}
.scroll-down {
  display: block;
  position: absolute;
  z-index: 100;
  bottom: 45px;
  left: 50%;
  margin-left: -16px;
  width: 34px;
  height: 34px;
  font-size: 34px;
  text-align: center;
  -webkit-animation: bounce 4s 2s infinite;
  animation: bounce 4s 2s infinite;
  text-decoration: none!important;
}
@keyframes bounce {
from,
20%,
53%,
80%,
to {
  -webkit-animation-timing-function: cubic-bezier(0.115, 0.61, 0.255, 1);
  animation-timing-function: cubic-bezier(0.115, 0.61, 0.255, 1);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

40%,
43% {
  -webkit-animation-timing-function: cubic-bezier(0.155, 0.05, 0.155, 0.06);
  animation-timing-function: cubic-bezier(0.155, 0.05, 0.155, 0.06);
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
}

70% {
  -webkit-animation-timing-function: cubic-bezier(0.155, 0.05, 0.155, 0.06);
  animation-timing-function: cubic-bezier(0.155, 0.05, 0.155, 0.06);
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
}

90% {
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}
}
.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}
.scroll-down-icon {
  color: rgba(255,255,255,0.6);
  font-size: 34px!important;
  position: relative;
  bottom: 7px;
}
.col-md-6{
  color: white;
  opacity: .7;
}
