extends ../layout


block content
    div.container
      div.row.mb-2
        div.col-md-6
          div.card.flex-md-row.mb-4.box-shadow.h-md-250
            div.card-body.d-flex.flex-column.align-items-start
              h3.mb-0
                a.text-dark(href="document/Application") 前端工具类
              div.mb-1.text-muted 
              p.card-text.mb-auto 压缩图片 时间格式处理 加密Sign SVG Canvas 等等。
              a(href="#") Continue reading
            img.card-img-right.flex-auto.d-none.d-md-block(style="width: 200px; height: 250px;" src="/img/domImg/web.jpg")
        div.col-md-6
          div.card.flex-md-row.mb-4.box-shadow.h-md-250
            div.card-body.d-flex.flex-column.align-items-start
              h3.mb-0
                a.text-dark(href="document/Server") 后端工具类
              div.mb-1.text-muted 
              p.card-text.mb-auto 主要是数据结构与算法。
              a(href="#") Continue reading
            img.card-img-right.flex-auto.d-none.d-md-block(style="width: 200px; height: 250px;" src="/img/domImg/golang.jpeg")
        div.col-md-6
          div.card.flex-md-row.mb-4.box-shadow.h-md-250
            div.card-body.d-flex.flex-column.align-items-start
              h3.mb-0
                a.text-dark(href="document/System") 后端配置的坑
              div.mb-1.text-muted 
              p.card-text.mb-auto linux配置 mac配置 Java配置 c++配置 nginx配置 数据库配置 pm2 nodemon NodeJs配置 
              a(href="#") Continue reading
            img.card-img-right.flex-auto.d-none.d-md-block(style="width: 200px; height: 250px;" src="/img/domImg/linux.jpeg")
        div.col-md-6
          div.card.flex-md-row.mb-4.box-shadow.h-md-250
            div.card-body.d-flex.flex-column.align-items-start
              strong.d-inline-block.mb-2.text-primary.text-success 数据库爬坑之路
              h3.mb-0
                a.text-dark(href="document/database") MySQL Redis MongoDB
              div.mb-1.text-muted 
              p.card-text.mb-auto 数据库基本操作以及 MongooseAPI 和squelizeAPI
              a(href="#") Continue reading
            img.card-img-right.flex-auto.d-none.d-md-block(style="width: 200px; height: 250px;" src="/img/domImg/mongodb.jpeg")
        div.col-md-6
          div.card.flex-md-row.mb-4.box-shadow.h-md-250
            div.card-body.d-flex.flex-column.align-items-start
              h3.mb-0
                a.text-dark(href="document/React") React
              div.mb-1.text-muted 
              p.card-text.mb-auto 沉迷学习，日渐消瘦
              a(href="#") Continue reading
            img.card-img-right.flex-auto.d-none.d-md-block(style="width: 200px; height: 250px;" src="/img/domImg/React.jpg")
        div.col-md-6
          div.card.flex-md-row.mb-4.box-shadow.h-md-250
            div.card-body.d-flex.flex-column.align-items-start
              h3.mb-0
                a.text-dark(href="document/Game") 游戏与算法
              div.mb-1.text-muted 
              p.card-text.mb-auto three.js WebGL
              a(href="#") Continue reading
            img.card-img-right.flex-auto.d-none.d-md-block(style="width: 200px; height: 250px;" src="/img/domImg/huoying.jpeg")    